In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(
    {"outlier": [0, 1, 0, 0, 1, 1, 1, 0], "trip": [0, 0, 0, 0, 1, 1, 1, 1]}
)
df

   outlier  trip
0        0     0
1        1     0
2        0     0
3        0     0
4        1     1
5        1     1
6        1     1
7        0     1

In [5]:
df.groupby(by="trip")["outlier"].diff()

0    NaN
1    1.0
2   -1.0
3    0.0
4    NaN
5    0.0
6    0.0
7   -1.0
Name: outlier, dtype: float64

In [10]:
df["to_delete"] = df.groupby(by="trip")["outlier"].diff() == -1
df

   outlier  trip  to_delete
0        0     0      False
1        1     0      False
2        0     0       True
3        0     0      False
4        1     1      False
5        1     1      False
6        1     1      False
7        0     1       True

In [11]:
mb = 9.56 / (1 + (-9.54 / 100))
mb

10.568206942294937

In [12]:
sc = 84.8 / (1 + (12.3 / 100))
sc

75.5120213713268

In [13]:
4 * sc - 21 * mb

80.1157396971135

In [14]:
10 * 9.56

95.60000000000001

In [15]:
25 * 4

100

In [20]:
st_v = 3 * 122.18
st_v  # 3 eggs

366.54

In [25]:
sum1 = 400 - st_v

In [26]:
# 2 eggs, 70 stones
sum1 = sum1 + 2 * 115.89 + 70 * 0.99
sum1

334.54

In [27]:
400 / 1.99

201.00502512562815

In [30]:
4000 * 7 / 7000

4.0

In [31]:
df = pd.DataFrame(
    {
        "u_r": [100, 34.4, 24.4, 20.3, 17.9, 16.4, 15.4, 14.6],
        "arp": [0.45, 0.43, 0.46, 0.45, 0.43, 0.47, 0.46, 0.45],
    }
)

In [35]:
(df["u_r"] * df["arp"]).sum() / 100

1.0921